body {
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

li {
    border-left: 3px solid red;
    padding-left: 10px;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 10px;
}